{% extends 'BookBundle::base.html.twig' %}
	{% block title %}
		{{ parent() }}-The Book
	{% endblock %}

	{% block body %}
	
		{{ parent() }}
	
	{% endblock %}
	
	{% block body_content %}
	<h2>
		<a href="https://symfony.com/doc/current/book/index.html" target="_blank">
			The Book
		</a>
	</h2>

	<a href="{{ path('homeTemplate') }}">
  		Templates
	</a>
	<br />
	
	<a href="{{ path('config') }}">
  		Configuring Symfony (and Environments)
	</a>
	<br />
	
	<a href="{{ path('bundleSystem') }}">
  		The Bundle System
	</a>
	<br />
		
	<a href="{{ path('db') }}">
  		Databases and Doctrine
	</a>
	<br />
			
	<a href="{{ path('validation') }}">
  		Validation
	</a>
	<br />
			
	<a href="{{ path('forms') }}">
  		Forms
	</a>
	<br />
	
			
	<a href="{{ path('security') }}">
  		Security
	</a>
	<br />
			
	{% endblock %}
